body
{
	background-color: #DAD6EB;
	text-align: center;
	color: #54345B;
}

h1
{
	font-family: "Monoton";
	background-color: #FFFC22;
	font-size: 4em;
	margin: 0px;
	padding: 30px;
	color: #54345B;
	border-radius: 0% 0% 20% 20%;
}

h2
{
	font-family: "Abel";
	padding-top: 50px;
	padding-bottom: 30px;
	font-size: 2.5em;
}

#choixNombre, #rejouerArreter, #emplacementCitation
{
	display: none
}

label
{
	font-family: "Abel";
	font-weight: normal;
	font-size: 2em;
}

#choixTheme, #choixNombre
{
	margin: auto;
	background-color: #FEFF6F;
	padding: 30px;
	width: 65%;
	border-radius: 50% 20% / 10% 40%;
	margin-bottom: 50px;
}

#rejouerArreter
{
	margin-top: -20px;
	margin-bottom: 50px;
}

#emplacementCitation
{
	font-family: "Sacramento", "cursive";
	font-size: 2em;
	margin: auto;
}

.btn
{
	background-color: #54345B;
	color: white;
	text-transform: uppercase;
	font-family: "Orbitron", "sans-serif";
	margin: 20px;
	border-radius: 10% 40% / 50% 20% ;
}

.btn:hover
{
	background-color: #DAD6EB;
	color: #54345B;
	border-radius: 50% 20% / 10% 40%;
}

.btnFin:hover
{
	border: solid 2px #54345B;
}

.citationGeneree
{
	background-color: #FEFF6F;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50% 20% / 10% 40%;
	width: 60%;
	margin: auto;
}

.erreur
{
	color: red;
}

@media all and (max-width: 820px)
{
	.citationGeneree
	{
		width: 80%;
	}
}

@media all and (max-width: 540px)
{
	h1
	{
		font-size: 2.5em;
	}

	#choixTheme, #choixNombre, #emplacementCitation
	{
		width: 80%;
	}
	.citationGeneree
	{
		width: 95%;
	}
}

@media all and (max-width: 420px)
{
	h1
	{
		font-size: 2em;
	}

	h2
	{
		font-size: 1.8em;
		margin-left: 20px;
		margin-right: 20px;
	}

	label
	{
		font-size: 1.5em;
	}
}

@media all and (max-width: 340px)
{
	.btn
	{
		font-size: 0.8em;
	}
}

@media all and (max-width: 305px)
{
	.btn
	{
		font-size: 0.7em;
	}
}